*{
    margin:0;
    padding:0;
}
header .navigation{
	padding: 10px;
	margin: 0;
	text-align: right;
    padding-right: 70px;
    background-color: black;
}
header .navigation li{
	list-style-type: none;
	display: inline-block;
}
header .navigation li a{
    padding: 5px 20px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: blanchedalmond;
}
.top-content{
    background-color: #ADD8E6;
    display: flex;
    justify-content: space-between;
    height:60vh;
}
.bottom-content{
    display: flex;
    justify-content: space-between;
    background-color: blanchedalmond;
    height:30vh;
    /* padding: 20px; */
}
.top-content-first-child{
    text-align: center;
    padding: 90px;
}
.button-parent{
    padding: 20px;
}
.button-parent button{
    background-color: aqua;
    border-radius: 20px;
    border: unset;
    padding: 10px;
}
.info{
    display: flex;
}
.about{
    padding: 10px;
}
.bottom-content-second-child{
    padding: 30px;
    /* width:50vw; */
}
.info b{
    color: blue;
}
.footer{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    /* background-color: #90EE90; */
}
.footer-second-child{
    padding:10px;
}
.top-content-second-child img{
    height:400px;
    padding-right: 200px;
}
.bottom-content-first-child img{
    padding-left: 150px;
    padding-bottom: 10px;
    width:250px;
    height:200px;
}
.copyright{
    background-color: bisque;
    text-align: center;
    padding: 25px;
}
.personal-details{
    display:flex;
    justify-content: space-between;
}
.personal-first-child{
    padding-left: 200px;
    padding-top: 60px;
}
.personal-second-child{
    padding-right: 200px;
}
.skills{
    height: 120px;
   background-color: #90EE90;
    display:flex;
    justify-content: space-between;
}
.skills-first-child{
    padding-left:210px;
    padding-top: 40px;
}
.skills-second-child{
    padding-top: 20px;
    padding-right: 260px;
}
.education{
    display:flex;
    justify-content: space-between;
}
.edu-first-child{
    padding-left: 200px;
    padding-top: 40px;
}
.edu-second-child{
    padding-right: 280px;
}
.projects{
    height: 80px;
    background-color: #90EE90 ;
display: flex;
justify-content: space-between;
}
.pro-first-child{
    padding-left: 200px;
    padding-top: 15px;
}
.pro-second-child{
    padding-top: 10px;
    padding-right: 110px;
}
