*{
    margin:0;
    padding:0;
}
.container{
    width: 95vw;
    margin: auto;
}
header .navigation{
	padding: 10px;
	margin: 0;
	text-align: right;
    padding-right: 70px;
    background-color: black;
}
header .navigation li{
	list-style-type: none;
	display: inline-block;
}
header .navigation li a{
    padding: 5px 20px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: blanchedalmond;
}
.top-content{
    background-color: #ADD8E6;
    display: flex;
    justify-content: space-between;
    height:60vh;
}
.bottom-content{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color:white;
    height:50vh;
    
    /* padding: 20px; */
}
.top-content-first-child{
    text-align: center;
    padding: 90px;
    padding-left: 200px;
    padding-top: 140px;
}
.button-parent{
    padding: 20px;
}
.button-parent button{
    background-color: aqua;
    border-radius: 20px;
    border: unset;
    padding: 10px;
}
.info{
    display: flex;
}
.about{
    /* background-color: aquamarine; */
    padding: 10px;
}
.bottom-content-first-child{
    width: 50vw;
    /* padding-left: 250px; */
}
.bottom-content-second-child{
    padding-top: 20px;
    padding-right: 50px;
    /* padding: 30px; */
    
    /* padding-right: 290px; */
    /* width:50vw; */
}
.btm-4{
    display: flex;
    justify-content: space-between;
}
.info b{
    color: blue;
}
.footer{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    /* background-color: #90EE90; */
}
.footer-second-child{
    padding:10px;
}
.top-content-second-child img{
    border-radius: 30%;
    height:380px;
    padding-top: 10px;
    padding-right: 200px;
}
.resume{
    text-align: center;
    height: 13vh;
    background-color: #FFFFE0;
    padding-top: 40px;
}
.bottom-content-first-child img{
        border-radius: 50%;
        margin-left: 160px;
        margin-top: 50px;
        width: 200px;
        height:200px;
}
.add{
    height:10vh;
    display: flex;
    justify-content: space-between;
}
.add-1{
    padding-top: 10px;
    padding-left: 180px;
}
.add-2{
    padding-top: 30px;
    padding-right: 90px;
}
.copyright{
    background-color: black;
    color: white;
    text-align: center;
    padding: 25px;
}
.personal-details{
    height:180px;
    display:flex;
    justify-content: space-between;
}
.personal-first-child{
    padding-left: 200px;
    padding-top: 60px;
}
.personal-second-child{
    padding-top: 10px;
    padding-right: 200px;
}
.skills{
    height: 150px;
    background-color: black;
    color: white;
    display:flex;
    justify-content: space-between;
}
.skills-first-child{
    padding-left:200px;
    padding-top: 40px;
}
.skills-second-child{
    padding-top: 20px;
    padding-right: 260px;
}
.education{
    height: 150px;
    display:flex;
    justify-content: space-between;
}
.edu-first-child{
    padding-left: 190px;
    padding-top: 40px;
}
.edu-second-child{
    padding-top: 10px;
    padding-right: 280px;
}
.project{
     background-color: black;
     color:white;
    height: 45vh;
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
}
.pro-first{
    padding-top: 90px;
    padding-left: 190px;
}
.pro-second{
    padding-right: 70px;
}
.foot{
    height:30px;
  text-align: right;
  padding-top: 15px;
  padding-right: 90px;
}
